body {
    background-color: #87ceeb;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-family: -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif ; 
}

h4 {
    font-style: italic;
}
.header {
    font-family: sans-serif;
    background-image: url("./assets/bground1.jpg");
    background-repeat: no-repeat;
    height: 400px;
    margin-top: -20px;
}

footer {
    background-image: url("./assets/bground2.jpg");
    height: 150px;
}