body {
    background-color: #87ceeb;"
}

h1 {
    color: white;
    font-family: -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif ; 
}

h4 {
    font-style: italic;
}
.header {
    font-family: sans-serif;
    background-image: url("./assets/header-title2.jpg");
    height: 400px;
    margin-top: -20px;
}